{% extends "base.html" %}

{% block scripts %}
  <script>
    function redirectPost(url, data) {
      var form = document.createElement('form');
      document.body.appendChild(form);
      form.method = 'post';
      form.action = url;
      for (var name in data) {
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = name;
        input.value = data[name];
        form.appendChild(input);
      }
      form.submit();
    }

    function initializeNumpad() {
      window.addEventListener("load", function() {
        numpad.attach({
          id : "inputPassword",
          inputType: "password"
        });
      });
    }

    function initializeCodeScanLogin() {
      const loginCodeStart = 'wt';
      const loginCodeEnd = '!';
      const loginCodeRegex = new RegExp(`^${loginCodeStart}.*${loginCodeEnd}$`);

      let input = '';
      let inputReset = {};

      document.addEventListener('keydown', function(event) {
        if (event.key.length !== 1) {
          return; // Ignore non-character keys
        }

        clearTimeout(inputReset);

        input += event.key;

        inputReset = setTimeout(() => input = '', 200);

        if (loginCodeRegex.test(input)) {
          console.log('Login scan code detected:', input);
          redirectPost('/login_scan_code', { scan_code: input });
        }
      });
    }

    initializeNumpad();
    initializeCodeScanLogin();
  </script>
{% endblock %}

{% block content %}
      {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
               {% for category, message in messages %}
	       <div class="{{ category }}">{{ message }}</div>
               {% endfor %}
         {% endif %}
      {% endwith %}

    <div class="jumbotron">
      <h1>
          🔥 -)'(- 🔥
	  </br>
	  </br>
	  Wrongtown Shower System
      </h1>
      <br />
      <br />
      <div class="alert alert-info" role="alert">
       <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
       <span class="sr-only">Error:</span>
       <b>
        scan your ID card
       </b>
      </div>
    </div>


    <form class="form-login" action="/login" method="POST">
      <label for="inputName" class="sr-only">Name</label>
      <select name="name" class="form-control form-control-lg mp-5" id="inputName">
        {% for user in users %}
        <option value="{{ user.name }}">{{ user.name }}</option>
        {% endfor %}
      </select>
      <br />
      <label for="inputPassword" class="sr-only">PIN code</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="PIN code" required>
      <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login with PIN</button>
    </form>

{% endblock %}
