{% extends "base.html" %}

{% block scripts %}
  <script>
    init_global_logout(30);
  </script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Shower status</h4>
        <p>Shower currently unavailable...</p>
        <p>If stalls are empty, please wait for shutdown</p>
        <hr>
        <p class="mb-0">Sorry :(</p>
      </div>
    </div>
  </div>
{% endblock %}
